In [1]:
import yfinance as yf
import pandas as pd

In [2]:
data = yf.download("SPY", start="2005-01-01")
data.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker            SPY        SPY        SPY        SPY       SPY
Date
2005-01-03  81.606003  82.596399  81.334660  82.460725  55748000
2005-01-04  80.608803  81.768787  80.344245  81.714518  69167600
2005-01-05  80.052582  80.893740  80.045797  80.547777  65667300
2005-01-06  80.459557  80.825868  80.222134  80.344238  47814700
2005-01-07  80.344231  80.880131  80.133937  80.703757  55847700

In [3]:
data.info()

<class 'pandas.DataFrame'>
DatetimeIndex: 5317 entries, 2005-01-03 to 2026-02-20
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, SPY)   5317 non-null   float64
 1   (High, SPY)    5317 non-null   float64
 2   (Low, SPY)     5317 non-null   float64
 3   (Open, SPY)    5317 non-null   float64
 4   (Volume, SPY)  5317 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 249.2 KB